div h2:nth-child(1){
    /* border:1px solid red */
    text-align: center;
}
form{
    /* border:1px solid red ; */
    text-align: center;
}
.update{
    /* border: 1px solid red; */
    margin-right: 4px;
}
.update~select{
    /* border:1px solid blue; */
    margin-right: 20px;
}
div:nth-child(2){
    /* border:1px solid red; */
    text-align: center;
}
.location{
    /* border:1px solid brown; */
    margin:50px 5px
}